body {
  background-color: azure;
}

#root {
  height: 100vh;
}

.App {
  height: auto;
  width: auto;
}

.App-header {
  max-height: 100px;
  z-index: 1;
}

.App-title {
  font-size: 40px;
  color: black;
  vertical-align: top;
  text-align: center;
}

.App-content {
  flex: 1;
  display: flex;
  position: relative;
  height: auto;
  padding-bottom: 2em;
}